<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | Without Rest API</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1 align="center"> Django View Function to send HTML Response</h1>
    <hr>

    <p align="center">
        This project demonstrates difference between Django HTML views and JSON APIs before learning Django REST
        Framework (DRF).</p>
    <hr>

    <!-- Links -->
    <a href="{% url 'emp_data' %}" target="_blank">
        <button>Non-REST API (HTML Response)</button>
    </a>
    <br><br>

    <a href="{% url 'emp_json' %}" target="_blank">
        <button>JSON Response (HttpResponse)</button>
    </a>
    <br><br>

    <a href="{% url 'emp_api_json' %}" target="_blank">
        <button>API Response (JsonResponse)</button>
    </a>
</body>

</html>